@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-9">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed dolor consequat, ullamcorper diam at, tempus turpis. Sed pharetra diam vel sem posuere pulvinar. Duis id blandit mi. Phasellus lacinia dignissim leo, non porttitor sapien dignissim vel. Ut sed mauris sit amet dui lobortis ullamcorper non at enim. Nam molestie magna turpis, in scelerisque dui pulvinar at. Sed et turpis eu elit porttitor aliquet.<br /><br />

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ac commodo ipsum. Sed sit amet pharetra mauris, eu porta erat. Ut et ligula facilisis, vulputate turpis ut, lacinia odio. Fusce euismod pharetra ipsum vel egestas. Nulla nec libero ullamcorper, volutpat orci nec, efficitur turpis. Nunc vestibulum erat et magna consequat accumsan. Vivamus a posuere mi, at aliquet ligula. Donec sollicitudin dolor eget magna accumsan, ac lacinia nibh cursus. Maecenas maximus mauris ut ornare efficitur. Nullam et dignissim nulla.<br /><br />

            Cras sit amet tempus enim. Mauris sit amet consectetur tellus, quis gravida nulla. Fusce laoreet suscipit efficitur. Sed in auctor turpis. Vivamus vestibulum pellentesque ante quis vehicula. Ut sit amet erat tellus. Duis sed magna diam. Nam condimentum sem condimentum sem volutpat viverra. Mauris in viverra arcu, vel facilisis nulla. Curabitur at pretium turpis. Maecenas interdum vitae lacus sit amet ornare. Maecenas a pellentesque justo. Nulla dui lacus, condimentum id ultrices a, porttitor quis velit. Vestibulum tempor nisl vitae odio cursus maximus.
        </p>
    </div>
</div>